*{
    margin:0;
    padding:0;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size:50px;
text-align: center;
    color:#d46666;
}

h3{

    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
    color:rgb(92, 255, 5);
    text-align: center;
        font-size:25px;


}

h4{

 font-family: "Amatic SC", sans-cursive;
font-size:50px;
color: #cef5c8;
  animation: pulse-glow 1s infinite alternate;

}

@keyframes pulse-glow {
  0% {
    text-shadow: 
      0 0 5px #cef5c8, 
      0 0 10px rgb(92, 255, 5), 
      0 0 50px rgb(92, 255, 5);
  }
  100% {
    text-shadow: 
      0 0 10px #cef5c8, 
      0 0 20px rgb(92, 255, 5), 
      0 0 60px rgb(92, 255, 5);
  }
}

nav{
    background-color:#7c242a;
}
nav ul{
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content:center; 
}
nav ul li{
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 2rem;
    align-items:center;  
}
nav img{
    display: block;
    margin-bottom: -30px;
}
nav li a{
text-decoration: none;
color:rgb(92, 255, 5);
font-size: 30px;
font-weight: bold;
}

main{
 padding-left: 40px;
 padding-right: 40px;
 background-image: linear-gradient(rgb(72, 27, 27), rgb(20, 5, 5));
color: #ffffff;
line-height: 2.0;
font-size:20px;


}

footer{
background-color:#7c242a;
    min-height:5vh;
    padding: 1rem 0rem 0rem 0rem;
    color:rgb(92, 255, 5);
    font-size: 20px;
    text-align: center;
}

header{
        font-family: "Amatic SC", sans-cursive;

}

a:hover {
      color: rgb(255, 255, 255); /* Sets the color of unvisited links to blue */
    }

.special-link{

    color:rgb(92, 255, 5);

}

.special-link:hover{

    color:white;

}

.decoration{

    opacity: 0.5;

}
